.contenedorTarjeta {
  width: 340px;
  height: 230px; 
  margin: 20px;
  padding: 2%;
  background-color: #0767a9;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.contenedorTarjeta:hover {
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.3);
}

.elementosIzquierda {
  position: relative;
  width: 80%;
  text-align: center;
}

.tituloCard {
  color: white;
  padding-top: 18px;
  font-size: 18px;
}

.imagenCard img {
  max-width: 100px;
  height: auto;
}

.imgSombra img {
  opacity: 0.3;
  position: absolute;
  transform: scale(1.2);
  bottom: 5px;
  right: 5px;
  width: 120px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.contenedorTarjeta:hover .imgSombra img {
  transform: rotate(-20deg) scale(1.5);
  opacity: 0.5;
}


@media screen and (max-width: 480px) {
  .contenedorTarjeta {
    width: 90%;
    height: auto;
    margin: 20px auto;
  }

  .tituloCard {
    font-size: 16px;
  }

  .imagenCard img {
    max-width: 80px;
  }

  .imgSombra img {
    width: 100px;
  }
}

@media screen and (max-width: 768px) {
  .contenedorTarjeta {
    width: 220px;
    height: 250px;
  }

  .tituloCard {
    font-size: 18px;
  }

  .imagenCard img {
    max-width: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .contenedorTarjetas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .contenedorTarjeta {
    width: 280px;
    height: 300px;
  }
}
