.contenedorNoticia {
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: auto;
  text-align: center;
  width: 100%;
  max-width: 400px;
  height: auto;
  display: inline-block;
}

.contenedorNoticia p{
  text-align: justify;
}

.imgNoticia {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
}

.tituloNoticia{
    margin: 3%;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 4px solid #022942;
    justify-content: center;
}

.btnNoticia{
    background-color: #022942;
    color: white;
    margin-top: 3%;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: medium;
}

.btnNoticia:hover{
    background-color: #022136;
    font-weight: 400;
    cursor: pointer;
}

.fechaNoticia {
  font-size: 18px;
  font-weight: bold;
  border: 3px solid #022136;
  color: #022942;
  background: #f1f1f1;
  padding: 8px;
  border-radius: 5px;
  width: fit-content;
  margin: 10px auto;
}

@media screen and (max-width: 480px) {
  .contenedorNoticia {
    width: 90%; 
    height: auto; 
    display: block;
  }

  .tituloNoticia {
    font-size: 16px;
  }

  .contenedorNoticia p {
    font-size: 14px; 
  }

  .btnNoticia {
    width: 100%;
    font-size: 14px;
    padding: 8px;
  }
}

@media screen and (max-width: 768px) {
  .contenedorNoticia {
    width: 80%;
    display: block;
    margin: 20px auto;
  }

  .tituloNoticia {
    font-size: 20px;
  }

  .contenedorNoticia p {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .contenedorNoticias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .contenedorNoticia {
    width: 350px;
    height: auto;
  }
}