.grupoEstudiantes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.listaEstudiantes{
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 5px solid #BDBDBD;
    border-radius: 15px;
    width: 350px;
    text-align: left;
}

.avatar{
    width: 140px;
    border-radius: 50%;
    margin-right: 20px;
    padding: 8px;
    background-color: #BDBDBD;
    flex-shrink: 0;
}

.infoEstudiante {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btnEstudiante {
    background-color: #022942;
    color: white;
    margin-top: 5%;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: medium;
}

.btnEstudiante:hover {
    background-color: #022136;
    font-weight: 400;
    cursor: pointer;
}


