* {
  padding: 0;
  margin: 0;
}

.contenedorFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  background-color: #bdbdbd;
}

.contenedorSuperior {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-bottom: 10px;
}

.contenidoDerecha {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  width: 100%;
}

.logoFooter {
  margin: 3%;
  font-weight: 700;
  font-size: xx-large;
  border-right: 4px solid #022136;
  padding-right: 15px;
  color: #022136;
}

.textoCreditos {
  text-align: center;
  width: 100%;
  margin-top: 15px;
  font-weight: 600;
  color: #022136;
}

.linkEnlaces {
  color: #022136;
  text-align: center;
  font-size: 14pt;
}

.linkEnlaces:hover {
  padding-bottom: 5px;
  border-bottom: 3px solid #022136;
}

.redesSociales{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
    padding: auto;
}

.iconoRedes{
    z-index: 100;
    width: 120px;
    height: auto;
}

.iconoRedes img {
    width: 30px;
    height: auto;
}

@media screen and (max-width: 480px) {
  .contenedorSuperior {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logoFooter {
    font-size: 18px; 
    border-right: none; 
    padding-right: 0;
    margin-bottom: 10px;
  }

  .contenidoDerecha {
    padding: 5px;
  }

  .redesSociales {
    display: flex;
    justify-content: space-evenly; 
    padding: 1px;
  }

  .iconoRedes img {
    width: 20px; 
  }

  .textoCreditos {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .contenedorSuperior {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logoFooter {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .redesSociales {
    justify-content: space-around;
  }

  .iconoRedes img {
    width: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .contenedorFooter {
    padding: 40px 5%;
  }

  .contenedorSuperior {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .logoFooter {
    font-size: 30px;
  }

  .linkEnlaces {
    font-size: 16pt;
  }

    .redesSociales {
    justify-content: center;
    gap: 20px;
  }

  .iconoRedes img {
    width: 32px;
  }
}