@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@font-face {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300 400 500 600 700;
    font-display: swap;
    src: url("../src/assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf") format("woff2");
  }

  @theme {
    --font-Quicksand: 'Quicksand';
  }

  /* 
  #022136
  #022942
  #0767A9
  #BDBDBD
  */